@-moz-document url("about:newtab"), url("about:home") {
    #main-button {
        display: none !important;
    }

    body {
        overflow: hidden !important;
    }

    body::before {
        content: "FIREFOX";
        white-space: pre-wrap;
        display: block;
        text-align: center;
        font-size: 2rem;
        margin-top: 130px;
        color: #a6a6a6;
        font-family: monospace;
        letter-spacing: 2px;
        font-weight: 900;
    }
}