@-moz-document url("about:newtab"), url("about:home") {
    #main-button,
    .logo {
        display: none !important;
    }

    .logo-and-wordmark .wordmark {
    display: inline-block !important;
  }

    @media (max-height: 670px), (max-width: 470px) {
            .logo-and-wordmark {
            display: flex !important;
        }
    }
}


