/*Urlbar Congiguration*/
#back-button,
#forward-button {
  display: none !important;
}

.titlebar-buttonbox-container {
  display: none !important;
}

#urlbar[focused="true"] .urlbar-background,
#urlbar:focus-within .urlbar-background {
  --toolbar-field-focus-border-color: transparent !important;
  --focus-outline-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;

  backdrop-filter: blur(80px) !important;
  background-color: rgba(30, 30, 30, 0.85) !important;
}

.urlbarView {
  animation: dropdownFade 0.35s ease !important;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#urlbar {
  transition: top 1.85s ease !important;
}


/*Sidebar Configuration*/
#sidebar-main {
  width: 53px !important;
}

#sidebar-main .toolbarbutton-text,
#sidebar-main .tab-label,
#sidebar-main .tools-overflow,
#sidebar-main button,
#sidebar-main .tab-close-button {
  display: none !important;
}

#sidebar-tools-and-extensions-splitter {
  display: none !important;
}

#main-button {
  visibility: collapse !important; 
}

/*Hide Toolbar Configuration*/
/*Default Behavior*/
#nav-bar {
  opacity: 0;
  height: 0 !important;
  min-height: 0 !important;
  overflow: hidden;
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
              height 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

#urlbar-container,
#urlbar {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

/*Urlbar Focused Behavior*/
#nav-bar:focus-within {
  opacity: 1;
  height: var(--navbar-height) !important;
  min-height: 40px !important; /*For future update variable name changes,
  And to prevent toolbar from collapsing because the url bar breaks out 
  from the toolbar leaving the toolbar empty and enables it to collapse*/
  overflow: visible;
}

#nav-bar:focus-within #urlbar-container,
#nav-bar:focus-within #urlbar {
  opacity: 1 !important;
  pointer-events: auto !important;
}

#urlbar[breakout] {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

#urlbar[breakout][breakout-extend] {
  opacity: 1 !important;
  pointer-events: auto !important;
  top: var(--urlbar-padding-block) !important;
}
